{% extends 'components/base.html' %}
{% load static %}

{% block title %}
About - Community Forum
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class = " d-flex flex-column align-items-center">About This Project</h1>
    <p class="lead">
        This community forum was created as a group project for our SDEV265 class at Ivy Tech.
    </p>
    <p>
        Our goal was to build a functional, user-friendly web application where people can share ideas, post discussions, and connect with others in a meaningful way. We used Django for the backend and Bootstrap for styling.
    </p>
    <p>
        This project allowed us to practice real-world skills like web development, collaboration, version control, and project planning. 
    </p>

    <p>

        -The SDEV265 Team 3</p>


</div>
{% endblock %} 
